* text=auto eol=lf
*.bat text eol=crlf
.gitattributes text eol=lf
*.md text eol=lf
*.go text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.golden linguist-generated=true -text
.github/crush-schema.json linguist-generated=true
internal/agent/hyper/provider.json linguist-generated=true
internal/agent/testdata/**/*.yaml -diff linguist-generated=true
